.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.recipes__title {
  padding-top: 100px;
  padding-left: 80px;
  top: 100px;
  max-width: 580px;
  margin-bottom: 24px;
  font-family: "Inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
}

.recipes__subtitle {
  max-width: 438px;
  padding-left: 80px;
  margin-bottom: 80px;
  font-family: "Noto serif", Times, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.recipes__videos {
  width: 480px;
  height: 273px;
  margin: auto 215px;
  display: flex;
}
.recipes__video-item {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  column-gap: 40px;
}

.recipes__iframe {
  width: 450px;
  height: 200px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
